// Define general pipeline parameters
params.help             = false                                                                 // Show help message and exit
params.cpus             = 1                                                                     // Number of CPUs to use
params.memory           = 4                                                                     // Amount of memory (GB) to use

// Define default branch for the pipeline
manifest.defaultBranch  = 'main'                                                // https://github.com/nextflow-io/nextflow/issues/3593

// Define profiles for different environments
profiles {
    // Local profile configuration
    local {
        params.vepcache         = ""                 // VEP cache directory
        params.cpus             = 12                 // CPUs for local profile
        params.memory           = 15                 // Memory (GB) for local profile
    }
    // Server profile configuration
    server {
        params.vepcache         = "/dev/shm/aglebus/data/vep_data"                                      // VEP cache directory
        params.cpus             = 96                                                                    // CPUs for server profile
        params.memory           = 100                                                                   // Memory (GB) for server profile
    }
    // Debug profile configuration (not implemented yet)
    debug {
        cleanup                = false                 // Do not cleanup intermediate files
        dumpHashes             = true                  // Dump process hashes for debugging
        process.beforeScript   = 'echo $HOSTNAME'      // Print hostname before each process execution
    }
    // Conda environment configuration (not implemented yet)
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }
    // Docker environment configuration
    docker {
        conda.enabled          = false
        docker.enabled         = true
        singularity.enabled    = false
    }
    // Singularity environment configuration
    singularity {
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = true
    }
}
